@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}
/*@font-face {
    font-family: UbuntuBold;
    src: url(Ubuntu-Bold.ttf);
}
@font-face {
    font-family: UbuntuLight;
    src: url(Ubuntu-Light.ttf);
}*/
body{
	font-family: 'Ubuntu',sans-serif;
	margin: 140px 0 0 0;
	background-image: url(straw.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: 0.7s;


}
body.open{
	margin-left: 300px;
	margin-right: 300px;
}
 .gig{
	position: absolute;
	width: 100%;
	top: 0;
} 
															/* -------BANNER------- */
.top-bar{
	position: fixed;
	z-index: 9999;

	height: 90px;
	width: 100%;
	top: 0;

	background-color: #A58B68;
}
.hamburger{
	/*margin: 16px 15px 0 0; */
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: maroon;
	cursor: pointer;
}
#sideMenu{
	transition:  0.7s;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	font-style: italic;
	font-size: 20px;
	overflow-x: hidden;
	padding-top: 40px;
	background-image: 
	linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('horizontal-cherry-wood.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#sideMenu.open{
	width: 300px;

}
#sideMenu a{
	transition: 0.35s;
	color: #dcb886;
	list-style: none;
	display: block;
	margin: 0 auto 10px;
	width: 200px;
	border-radius: 5px;
	text-shadow: 6px 10px 7px black;
	line-height: 40px;
	padding: 5px;
	border: 3px solid rgba(0,0,0,0.2);
	text-decoration: none;
}
#sideMenu a:hover{
	border: 3px solid #442600;
	background-color: #633800;
	color: rgba(200,200,200,1);
}
#sideMenuBar{
	transition: 0.7s;
	position: fixed;
	left: 0;
	width: 5px;
	margin-left: 0;
	border-radius: 60px;
	height: 100%;
	background-color: #7d6b51;
}
#sideMenuBar:hover{
	width: 20px;
	cursor: pointer;
}
#sideMenuBar.open{
	margin-left: 300px;
}
.banner{
	position: relative;
	padding: 1px 12px 0;
	background-color: #DCB886;
	/*height: 82px;*/
	max-width: 1160px;
	margin: 12px auto;
	border: 8px #AB7729 double;
	border-radius: 12px;
	overflow: auto;
	min-width: 645px;
	transition:  0.7s;
}
																/* TOP-GREETING */
.begroeting{
	display: inline-block;
	margin: 11px 20px 0px 0px;
	padding: 10px 10px 10px 10px;
	font-weight: 900;
	border: 1px grey solid;
	border-radius: 5px;
	min-width: 40px;
	max-width: 220px;
	background-color: #FFFFDA;
}
.begroeting a{
	text-decoration: none;
	color: black;
}
.menu{															/* TOP-MENU */
	display: inline-block;
	padding: 0;
	vertical-align: top;
	margin: 10px auto 20px;
	min-width: 600px;
	/*float: right;*/
	 /*height: 50px; */
	/*display: none;*/
	 /*outline: green solid; */
}

.menu li{													/* MENU-ITEMS */
	margin: 0 14px;
	text-align: center;
	display: inline-block;
	
	width: 80px;
	border: inset 5px #f3f3d6;
	border-radius: 20px;
	padding: 10px;
	transition: 0.4s;
}
.menu a{
	/*background-color: grey;*/
	color: maroon;
	text-decoration: none;
}
.menu li:hover{
	border: outset 5px #f3f3d6;
	background-color:maroon; 
	color:#dcb886;
}
																/* -------CONTENT------- */
.content{
	border: 7px #AB7729 double;
	/* border: 7px #EADC8B outset; */
	position: relative;
	background-color: #D8D8AE;
	max-width: 1000px;
	min-width: 480px;
	margin: 170px auto 30px;
	padding: 50px 90px 40px;
	border-radius: 12px;
	transition:  0.7s;
}
																/* -------SLIDER------- */
																/* SLIDER-CONTAINER */
.slider-container{
	position: relative;
	/* width: 950px; */
	margin: 0 auto;
	border: outset 6px #f3f3d6;  /*#F6F6F6*/
	/* border: outset 6px #EADC8B; */
	border-radius: 0px;	
}
																/* SLIDESHOW-DIV */
.cycle-slideshow{
	/* width: 950px; */
	position: relative;
	overflow: hidden;
}
																/* IMAGES OF THE SLIDESHOW */
.cycle-slideshow img{
	width:100%;
}
																/* LEFT BUTTON */
#Bl{
	left: 10px;
	padding: 0 4px 0 0;
}
																/* RIGHT BUTTON */
#Br{
	padding: 0 0 0 4px;
	right:10px;
}
																/* BOTH BUTTONS */
.SlideButton {
	width: 50px; height: 50px;
	position: absolute;
	top: 45%;
	z-index: 999;

	border-radius: 100%;
	background-color: rgba(1,54,54,1);
	opacity: 0.5;
	
	text-align: center;
	line-height: 41px;
	font-weight:900;
	font-size:37px;
	color: gold;
	text-decoration: none;
}
																/* BUTH BUTTONS ON-HOVER */
.SlideButton:hover {
	color: gold;
	opacity: 1;
	transition: 0.4s;
	text-decoration: none;
}
																/* -------1E TEKSTSTUK------- */
.content1{
	margin: 30px 0 30px 0;
	
	padding: 0px 25px 25px;
	border: 8px #FFFFDE outset;
	/* border: 8px #EADC8B inset; */
	background-color: #f3f3d6;
	border-radius: 15px;
	color: #881C1C;
	overflow: auto;
}
.content1 img{
	float: left;
	margin-right: 20px;
}
#Boxez{
	padding: 27px;
	border: 8px #FFFFDE outset;
	border-radius: 15px ;
}
																/* BOXES */
.boxes{
	display: inline-table;
	margin: 0 20px 40px 0;
	background-color: #D2B487;
	max-width: 442px;
	min-width: 306px;

	border-left:39px solid;
	border-right:39px solid;
	border-image-repeat: round;
	border-radius: 52px;

	border-image: url("rope3.png");
	border-image-slice: 16;
	border-image-width: 35px;
	min-height:190px;
	max-height: 550px;
	/* border-image-outset: 50px; */
	
}
																/* BOXES CONTENT */
.boxes p, h3{
	padding: 5px;
	border: 6px #EADC8B inset;
	background-color: #f3f3d6;
	border-radius: 10px;
	opacity: 1;
	color: #881C1C;
	min-width: 100px;
}
.boxes .auteur{
	height: 31px;
	display: inline;
	/*outline: 5px green solid;*/
}
.boxes .datum{
	/*outline: 5px green solid;*/
	display: inline;
	text-align:right;
	
}