#terug{
    position:relative;
    margin:0 auto;
}



#submit_form{
    { line-height: 24px; }
}




.home{
    display:inline-block;
    float:left;
    margin-left:1.5px !important;
     background-color: rgba(255,255,255,0.1);
}


#showField{
    width:500px;
    height:500px;
    background-color: rgba(255,255,255,0.3);
}


#artikels {
    position:relative;
    width:95% ;
    min-height: 600px;
    height:70% ;
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgba(255,255,255,0.4);
    border:none;
    border-radius: 10px;
    font-size:14pt ;
} 




textarea {
    font-size: 14pt;
    resize: none;
    border:1px double #bcc35d;
    border-radius: 15px;
    padding: 1.3em;
    width: 90%;
    height:20%;
    background-color: rgba(255,255,255,0.4);
};




.btn{
 margin-top:10px;
 margin-left:10px;
 background-color:#FFFFFF;
 color:#ed0f84;
 border-radius:3px;
 padding:2px;
}



body{
    overflow-x:hidden;
    font-family: 'Amaranth', sans-serif;
    background-image: url("../images/achtergrond.jpg");
    -webkit-background-size: repeat;
    -moz-background-size: repeat;
    -o-background-size: repeat;
    background-size: repeat;
}


#knoppen{
	position:relative;
	background:rgba(96,125,139,0.2);
	display:block;
	margin:auto;
	width: 50%;
	padding: 15px;
};


p{
    color:#87100e;
    text-align:center;
    font-family: 'Amaranth', sans-serif;
    font-size: 13px;
    /*font-size: 1.5vmin; */


}


a{
    text-decoration:none;
    color:black;
}

a:hover{
    color:#810000; 
}

.loguit{
    display:inline-block;
    float:right;
    margin-right:0px !important;
    background-color: rgba(255,255,255,0.1);

}



.welkom{
    max-width:960px;
    position:fixed;
    display:block;
    float:right;
    /*margin-left: 38%;*/
}




#cms{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width:98.5%;
    max-width:668px;
    margin: 0 auto;
    padding:15px;
    position:relative;
    display:flex;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(49, 50, 50, 1);
    -moz-box-shadow:    2px 2px 30px 0px rgba(49, 50, 50, 1);
    box-shadow:         2px 2px 30px 0px rgba(49, 50, 50, 1);
    border-radius:10px;
}


/* Stijling voor de knoppen op home.php */
.artikel_toevoegen, 
.artikel_beheer,
 .content_beheer{
    background:rgba(255,255,255,0.2);
    padding: 5px;
    margin:0 auto;
    border: 2px outset #8d9900;
    border-radius:10px;
    min-width:150px;
}

.artikel_toevoegen:hover,
 .artikel_beheer:hover,
.content_beheer:hover{
    -webkit-box-shadow: 2px 2px 30px 0px rgba(49, 50, 50, 1);
    -moz-box-shadow:    2px 2px 30px 0px rgba(49, 50, 50, 1);
    box-shadow:         2px 2px 30px 0px rgba(49, 50, 50, 1);
    border: 2px inset #800000;
    background:rgba(255,255,255,0.4);

}






table, td, th {
	border:1px dotted #caa399;
    border-radius: 20px;
	font-size:14px;
 color:#8d1d1a;
 text-align:center !important;
 background-color: rgba(255,255,255,0.4);
}

table {
    width: 50%;
}

th {
    height: 45px;
}


#countdown{
    position:relative; margin-right:10px; margin-top:14px; display:block; float:right !important;
}


hr{
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(129, 00, 000, 1), rgba(0, 0, 0, 0.1));
}


li {
    background: transparent !important;



    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
#blur:hover li {
    box-shadow: 0 0 15px 5px rgba(49, 50, 50, 1);
    opacity: .30;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
}
#blur li:hover {
    box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

ul, li{
    list-style-type: none;
}


img{
    position: relative;
}


::-webkit-input-placeholder {
 color:#810000;
 text-align:center;
 font-style: italic;
 font-size:11px;
}

:-moz-placeholder { /* voor Firefox 18- */
 color:#810000;
 text-align:center;
 font-style: italic;
 font-size:11px;
}

::-moz-placeholder {  /* voor Firefox 19+ */
 color:#810000;
 text-align:center;
 font-style: italic;
 font-size:11px;
}

:-ms-input-placeholder {  
 color:#810000;
 text-align:center;
 font-style: italic;
 font-size:11px;
} 




input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="range"],
input[type="password"]
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 290px;
    background-color:rgba(255,255,255,0.5);
    display:block;
    margin: 0 auto;
    margin-bottom: 4%;
    border: 1px double #bcc35d;
    border-radius:5px;
    padding: 1.5%;
    color:#810000;
    text-align:center;
    font-family: 'Amaranth', sans-serif;
    font-size:20px;

}

input[type="number"]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 28%;
    background-color:transparent;
    display:block;
    margin: 0 auto;
    margin-bottom: 3%;
    border: 1px double #bcc35d;
    border-radius:5px;
    padding: 1%;
    color: #ed0f84;
    font-size:18px;
    text-align:center;
    font-family: 'Amaranth', sans-serif;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="password"]:focus
{
    box-shadow: 0 0 5px#ed0f84;
    padding: 1.8%;
    background-color:rgba(255,255,255,0.3);
    text-align:center;
    border: 1.2px dotted #bcc35d;
    color:#810000;
    font-size:120%;
}

input[type="number"]:focus{
    box-shadow: 0 0 5px#ed0f84;
    padding: 1.5%;
    background-color:transparent;
    text-align:center;
    border: 1.4px solid #ed0f84;
    color:#ed0f84;
    font-size:20px;
    width:30%;
}

input[type="submit"],
input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width:25%;
    max-width:620px;
    height:10%;
     padding: 1%; 
    background: #95a100;
    text-align:center;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font-size:16px;
    font-family: 'Amaranth', sans-serif;
}
input[type="submit"]:hover,
input[type="button"]:hover{
    background:#6b7300;
    cursor:pointer; 
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(149,161,0,0.6); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(149,161,0,0.9); 
}


#framework{
    width:50%;
    height:20%;
    max-width:600px;
    display:block;
    margin: 0 auto;
};




#box2{
    color:#ed0f84;
    line-height: 1.3em;
    border: 1px outset #ECECEC;
    border-radius: 10px;
    width: 60%;
    max-width:700px;
    box-shadow: 0 0 0 2px #ECECEC, 6px 6px 7px 6px rgba(5, 5, 0, 0.1); 
    display:block;
    padding: 15px;
    background:rgba(96,125,139,0.7);

};


#box{
    line-height: 1.3em;
    border: 1px outset #ECECEC;
    border-radius: 10px;
    width: 50%;
    max-width:700px;
    box-shadow: 0 0 0 2px #ECECEC, 6px 6px 7px 6px rgba(5, 5, 0, 0.1); 
    display:block;
    padding: 15px;
    background:rgba(96,125,139,0.7);

};


#button{
    display:block;
    float:left;
};

#testing{
    display:block;
    margin:auto;
    width:50%;
};


hr{
    border: 0;
    height: 2.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(237, 15, 132, 1), rgba(0, 0, 0, 0.1));
};

a, a:hover{
    text-decoration:none;
    color:black;
};




